// Place all the styles related to the albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// .album-img {
//   width: 200px;
//   height: 200px;
//   border: 1px solid black;
// }
//
.single-song{
  border: 1px solid green;
  &:hover{
    background-color: grey;
  }
}
.song-container {
  // display: flex
}

.albums-single-album-img {
  height: auto;
  max-width: 226px;

}

.album-pic-container {
  margin-left: 50px;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
}
.album-details-container {
  margin-left: 30px;


}

.alb-title {
  font-size: 40px;
}
.album-outmost-container{
  height: 100vh;
}

// .albums-single-album {
//   display:flex;
//   flex-direction: row;
//   margin: 20px 30px;
// }


.album-details {
  margin-left: 40px;
  text-wrap: wrap;
  display: flex;
  flex-direction: column;
}
.album-title{
  font-size: 35px;
  font-weight: 800;
  font-family: sans-serif;

}

.playlist-drop-down{
  height:300px;
  width: 300px;
  border: 1px solid black;
  // top:0;
  background: transparent;
  // overflow: none;
}
