// Place all the styles related to the albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// .album-img {
//   width: 200px;
//   height: 200px;
//   border: 1px solid black;
// }
//


.albums-single-album-pic {
  height: 157px;
  width: 157px;

}

.albums-single-album {
  display:flex;
  flex-direction: row;
  margin: 20px 30px;
}

.album-details {
  margin-left: 40px;
  text-wrap: wrap;
  display: flex;
  flex-direction: column;
}
.album-title{
  font-size: 25px;
  font-weight: 800;

}
