// Place all the styles related to the albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.songs-list{
  list-style-type: value;
}
.single-song{
  padding-top: 6px;
  padding-bottom: 9px;
  padding-left: 10px;
  &:hover{
    background-color: black;
    opacity: 0.5;
  }
  margin-left: 5%;
}
.song-author{
  font-size: 12px;

}
.song-container {
  // display: flex
}

.albums-single-album-img {
  width: 320px;
  margin-left: 12px;
  margin-top: 50px;

}

.album-pic-container {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}
.margin-container{
  margin-left: 7%;
}
.album-details-container {
  margin-left: 30px;

}
.single-song{
  display:flex;
  flex-direction: row;
}

.alb-title{
  font-size: 15px;
  text-align: center;
  margin-top: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  text-transform: capitalize;
}

.album-outmost-container{
  height: 100%;
  display: flex;
  flex-direction: row;
  overflow: scroll;
}

.album-details {
  margin-left: 40px;
  text-wrap: wrap;
  display: flex;
  flex-direction: column;
}
.album-title{
  font-size: 35px;
  font-weight: 800;
  font-family: sans-serif;

}
.song-list{
  display:flex;
  justify-content: space-between;
  padding: 15px;
  &:hover {
    background-color: darkslategray;
    opacity: 0.9;
    .three-dots {
      visibility:visible;
    }
  }
  cursor:pointer;
}
.three-dots {
  width: 40px;
  visibility: hidden;

}
.song-title{
  font-size: 17px;
}
.song-author{
  font-size: 14px;
}

.playlist-drop-down{
  height:300px;
  width: 300px;
  background: transparent;
}
.alb-songs {
  margin-top: 4%;
  margin-left: 6%;
  width: 53%;
}
