
// linear-gradient(rgb(48, 74, 80), rgb(51, 45, 48) 88%)
// linear-gradirent(rgb(11, 55, 108), rgb(54, 47, 48) 88%)
// linear-gradient(rgb(127, 61, 26), rgb(12, 6, 2) 85%)
// linear-gradient(rgb(7, 61, 92), rgb(4, 36, 29) 85%) blue green
.img-div{
  width:100%;
  height: 100%;
  background-size: cover;
  box-shadow: 10px 5px 13px black;
  position: relative;
}

.img-hover-cont {
  position: relative;
}

.darken-on-hover:hover, .img-hover-div:hover + .darken-on-hover{
  visibility: visible;
}

.darken-on-hover{
  width: 218px;
  height: 217px;
  position: absolute;
  z-index: 1;
  background: black;
  opacity: 0.5;
  bottom: 0;
  visibility: hidden;
}

.all-albums {
  background: transparent;
  display: grid;
  height: 100%;
  box-sizing: border-box;
  width: 100%;

  grid-template-columns: repeat(5, 1fr);
  grid-gap: 15px;
  .single-album{
    width:217px;
    height:217px;
  }

  @media (max-width: 1500px){
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: auto;
  }

  @media (max-width: 1200px){
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: auto;
    .single-album{
      width: 217px;
      height: 217px;
    }
  }

  @media (max-width: 1090px){
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    .single-album{
      width: 217px;
      height: 217px;
    }
  }

  @media (max-width: 937px){
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
  }
  @media (max-width: 600px){
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: auto;
    .single-album{
      width: 217px;
      height: 217px;
    }
  }

@media (min-width: 1300px){
  .all-albums{
    grid-template-columns: repeat(5, 1fr);
  }
}
}

.outer-albs {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.all-albums-container{
  width: 95%;
  height: 100%;
  display:flex;
  overflow: hidden;
  overflow: scroll
}

.img-hover-div {
  position: absolute;
  opacity: 0;
  bottom: calc(16% + 56px);
  right: calc(16% - 158px);
  width: 100px;
  height: 100px;
  border: 1px solid grey;
  border-radius: 50%;
  transition: color,0.6s;
  z-index: 2;
  &:hover{
    border: 1px solid green;
    width: 102px;
    height: 102px;
    .albums-play-button{
      border-left: 38px solid green;
    }

  }

}

.albums-play-button{
  width: 0;
  height: 0;
  border-top: 32px solid transparent;
  border-bottom: 32px solid transparent;
  border-left: 35px solid grey;
  transition: color,0.6s;
  &:hover{
    border-left: 38px solid green;

  }
  margin: 19px 38px;
}

.img-hover-cont:hover .img-hover-div {
  opacity: 1;
  cursor: pointer;
}
