
// linear-gradient(rgb(48, 74, 80), rgb(51, 45, 48) 88%)
// linear-gradirent(rgb(11, 55, 108), rgb(54, 47, 48) 88%)
// linear-gradient(rgb(127, 61, 26), rgb(12, 6, 2) 85%)
// linear-gradient(rgb(7, 61, 92), rgb(4, 36, 29) 85%) blue green
.img-div{
  width:100%;
  height: 100%;
  background-size: cover;
  box-shadow: 10px 5px 13px black;
}
.all-albums {
  background: transparent;
  display: grid;
  width: 100%;
  height: 100%;
  padding: 0 63px;
  height: fixed;
  grid-auto-rows: 29%;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  @media (min-width: 1500px){
    grid-template-columns: repeat(4, 1fr);

  }
  @media (max-width: 1500px){
    .single-album{
      width: 217px;
      height: 217px;
    }

  }
  @media (max-width: 1500px){
    .single-album{
      width: 217px;
      height: 217px;
    }

  }

  @media (max-width: 901){
    .single-album{
      width: 217px;
      height: 217px;
    }

  }
  @media (max-width: 901px){
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
  }
  @media (max-width: 765px){
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
  }
  @media (max-width: 571px){
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: auto;
  }
}
  @media (min-width: 571px){
    .single-album{
      width: 217px;
      height: 217px;
    }
  }

@media (min-width: 1300px){
  .all-albums{
    grid-template-columns: repeat(5, 1fr);
  }
}
.single-album{
  margin-bottom: 50px;
  margin-left: 10px;

  // &:hover{
  //   background-image: url(http://www.pngmart.com/files/3/Play-Button-PNG-Picture.png);
  //
  // }
}

.outer-albs {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  overflow: scroll;
}

.img-hover-cont {
  position: relative;
}

.img-hover-div {
  position: absolute;
  // visibility: hidden;
  opacity: 0;
  bottom: calc(16% + 56px);
  right: calc(16% - 159px);
  width: 100px;
  height: 100px;

}

.img-hover-cont:hover .img-hover-div {
  // visibility: visible;
  opacity: 1;
  cursor: pointer;
}
