.feature {
  border: 1px solid blue;
  width: 100%;
  height: 100%;
}

.album-img {
  width: 100%;
  height: 100%;
  border: 1px solid black;
}
.alb-title {
  text-align: center;
}
.top-nav {
  margin-bottom: 40px;
}

.single-album {
  max-width: 150px;
  height: 150px;
  border: 1px solid green;
  padding: 5px;
  margin-left: 20px;
  margin-bottom: 40px;
}
.all-albums{
  display: flex;
  grid-auto-columns: minmax(auto, 20%);
  flex-wrap: wrap;
  flex: flex-start;
  // flex-wrap: wrap;
  margin: auto 5%;
}
// .album-hover {
//
// }
// .album-img, .hover-play-button{
//   width:100%;
//   height:100%;
//
//   // opacity:0;
//
// }


// .hover-play-button {
//   left: 0;
//   visibility: hidden;
//   width: 50px;
//   height: 50px;
//   background-position:top left;
//   background-repeat: no-repeat;
//   background-size:100%;
//   position:absolute;
//   -webkit-transition: all 0.4s ease;
//   -moz-transition: all 0.4s ease;
//   -o-transition: all 0.4s ease;
//   transition: all 0.4s ease;
//   &:hover {
//     visibility: visible;
//   }
// }
