// $spot-black: #101010;
// $spot-green: #1ed760;
//
// .
// // linear-gradient(rgb(48, 74, 80), rgb(51, 45, 48) 88%)
// // linear-gradient(rgb(11, 55, 108), rgb(54, 47, 48) 88%)
// // linear-gradient(rgb(127, 61, 26), rgb(12, 6, 2) 85%)
// // linear-gradient(rgb(7, 61, 92), rgb(4, 36, 29) 85%) blue green
//

// .album-img, .hover-play-button{
//   width:100%;
//   height:100%;
//
//   // opacity:0;
//
// }


// .hover-play-button {
//   left: 0;
//   visibility: hidden;
//   width: 50px;
//   height: 50px;
//   background-position:top left;
//   background-repeat: no-repeat;
//   background-size:100%;
//   position:absolute;
//   -webkit-transition: all 0.4s ease;
//   -moz-transition: all 0.4s ease;
//   -o-transition: all 0.4s ease;
//   transition: all 0.4s ease;
//   &:hover {
//     visibility: visible;
//   }
// }




// REAL CSS
// .feature {
//   border: 1px solid blue;
//   height: 100%;
//   width: 100%;
//   overflow:scroll;
// }
// // linear-gradient(rgb(48, 74, 80), rgb(51, 45, 48) 88%)
// // linear-gradient(rgb(11, 55, 108), rgb(54, 47, 48) 88%)
// // linear-gradient(rgb(127, 61, 26), rgb(12, 6, 2) 85%)
// // linear-gradient(rgb(7, 61, 92), rgb(4, 36, 29) 85%) blue green
//
// .album-img {
//   width: 100%;
//   height: 100%;
//   border: 1px solid black;
// }
// .alb-title {
//   text-align: center;
//   color: white;
//   font-family: sans-serif;
//   font-weight: 400;
//   font-size: 14px;
// }
//
// .single-album {
//   max-width: 14%;
//   max-height: 30%;
//   // max-width: 150px;
//   // height: 150px;
//   border: 1px solid green;
//   padding: 5px;
//   margin-left: 20px;
//   margin-bottom: 40px;
// }
//
//
// .inner-albs {
//   width: 85%;
//   display: flex;
//   flex-wrap: wrap;
//   // flex: flex-start;
//   margin: 0 auto;
//   border: 1px solid green;
//   height: 85%;
// }



// linear-gradient(rgb(48, 74, 80), rgb(51, 45, 48) 88%)
// linear-gradirent(rgb(11, 55, 108), rgb(54, 47, 48) 88%)
// linear-gradient(rgb(127, 61, 26), rgb(12, 6, 2) 85%)
// linear-gradient(rgb(7, 61, 92), rgb(4, 36, 29) 85%) blue green
.img-div{
  width:100%;
  height: 100%;
  background-size: cover;
}
.all-albums {
  background: transparent;
  display: grid;
  width: 80%;
  height: 100%;
  grid-auto-rows: 29%;
  grid-template-columns: repeat(5, 1fr);
  // grid-gap: 20px;
  // width: 200px;
  // width: 200px;
    display: grid;
    // grid-template-areas: "a a";
  grid-gap: 10px;
    // grid-auto-rows: 100px;
  @media (max-width: 1100px){
    grid-template-columns: repeat(4, 1fr);
  }
  @media (max-width: 901px){
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: 765px){
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 36%;
  }
  @media (max-width: 571px){
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 50%;
  }
}
@media (min-width: 1300px){
  .all-albums{
    grid-template-columns: repeat(5, 1fr);
  }
}
.single-album{
  margin-bottom: 50px;
  // &:hover{
  //   background-image: url(http://www.pngmart.com/files/3/Play-Button-PNG-Picture.png);
  //
  // }
}
.alb-title{
  font-size: 15px;
}
.outer-albs {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.img-hover-cont {
  position: relative;
}

.img-hover-div {
  position: absolute;
  // visibility: hidden;
  opacity: 0;
  // top: 0;
  bottom: 4em;
  right: 0;
  left: 4em;
  width: 100px;
  height: 100px;

}

.img-hover-cont:hover .img-hover-div {
  // visibility: visible;
  opacity: 1;
  cursor: pointer;
}
