// left side
.landing{
  color: white;
  width: inherit;
  height: inherit;
  background-image: url('https://images3.alphacoders.com/853/85305.jpg');
 }
 .wrapper-for-opacity{
   justify-content: center;
   align-items: center;
   display: flex;
   background-color: rgba(0,0,0,.5);
   width:inherit;
   height: inherit;
 }
 .landing-logo-title {
   font-size: 40px;
   margin: -40px 0 40px 0;
   // font-family: 'Montserrat', sans-serif;
 }

 .login-signup-landing{
   padding: 45px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   white-space:nowrap;
 }
 .side-bar {
   border-left: 1px solid white;
   height: 430px;

 }
 .side-description{
   padding: 45px;
   white-space:nowrap;
   overflow:hidden;
 }
 .already-have-an-acc{
   font-size: 16px;
   font-family: sans-serif;
   font-weight: lighter;
   color: lightgrey;
   margin: 20px 10px;
 }
 .divider{
   display: flex;
   .before{
     width: 25px;
     border-bottom: 1px solid white;
     align-self: center;
   }
   .after{
     width: 25px;
     border-bottom: 1px solid white;
     align-self: center;
   }

 }
 .landing-signup{
   font-size: 17px;
   text-transform: uppercase;
   padding: 15px 110px;
   border: 1px solid green;
   border-radius: 25px;
   background: #1db954;
   color: white;
   font-weight: 600;
   letter-spacing: 2px;
 }

 .landing-login{
   font-size: 17px;
   text-transform: uppercase;
   padding: 15px 110px;
   border: 1px solid green;
   border-radius: 25px;
   background: white;
   color: black;
   font-weight: 600;
   letter-spacing: 2px;
 }

 //  RIGHT SIDE
.side-words-top-container{
  margin: 19px 0 10px 0;
}
.side-top-words {
 font-size: 50px;
 font-weight: 520;
 color: #1db954;
}
.side-middle-words {
  margin: 19px 0 35px 0;
  font-size: 20px;
  font-weight: 90;
  word-spacing: 2px;
  font-family: sans-serif;
}

.check-image-words{
  font-weight: 300;
  font-family: sans-serif;
  font-size: 17px;
  letter-spacing: 1px;
}
.checkbox-holder{
  display: flex;
}
.checks{
  margin-right: 20px;
}
