.landing-signup {
  background-color: #1db954;
  color: white;
  border-radius: 500px;
  border: 1px solid #1db954;
  width: 255px;
  text-align: center;
  font-size: 20px;
  font-weight: 490;
  line-height: 1;
  padding: 17px 32px;
  font-family: proxima_nova,Helvetica Neue,Helvetica,Arial,sans-serif;
  text-transform: uppercase;
  word-spacing: 3px;
  letter-spacing: 1px;
  margin-bottom: 37px;
}
.landing .button-container .logo {
  border-bottom: none;
  color: white;
}
.wrapper-opacity {
  height: inherit;
  display:flex;
  width: 100%;
  background-color: rgba(0,0,0,0.5)
}

.loggedin{
  display: inline-block;
  align-self: center;
  font-size: 14px;
  font-family: proxima_nova,Helvetica Neue,Helvetica,Arial,sans-serif;
  color: white;
  text-transform: uppercase;

  letter-spacing: 1px;

}


.landing-login{
  margin-top: 37px;
  background-color: white;
  color: black;
  border-radius: 500px;
  border: 1px solid black;
  width: 255px;
  text-align: center;
  font-size: 20px;
  font-weight: 490;
  line-height: 1;
  padding: 17px 32px;
  font-family: proxima_nova,Helvetica Neue,Helvetica,Arial,sans-serif;
  text-transform: uppercase;
  word-spacing: 3px;
  letter-spacing: 1px;
}



.button-container {
  margin: 0 40px;
  height: 100%;
  display:flex;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
}
.right-border {
  margin: auto 0;
  height: 50%;
  border-right: 1px solid white;
}
.side-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  text-wrap: normal;
}
.side-words {
  color: white;
  display:flex;
  justify-content: center;
  align-items: center;
  padding-left: 100px;
}


.landing {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: url('https://images3.alphacoders.com/853/85305.jpg');
  background-color: rgba(0,0,0,.5);
}

.words {
  display: flex;
  align-items: center;
  color: white;
  justify-content: center;

}

.before {
  width: 20px;
  border-top: 1px solid white;
}
.after {
  width: 20px;
  border-top: 1px solid white;
}
