// .top-nav{
//   justify-content: center;
//   background-color:inherit;
// }
.innerContainer{
  border: 1px solid red;
  display: flex;
  justify-content: space-between;

}
.container {
  display:flex;
  flex-direction: column;
  // background: linear-gradient(rgb(7, 61, 92), rgb(4, 6, 2) 85%) ;
}
.logg-main {
  width: 100%;
  height: 100vh;
  border: 1px solid red;
}
.player {
  position:fixed;
}
