.top-nav{
  justify-content: center;
  background-color:inherit;
}
.innerContainer{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.container {
  display:flex;
  flex-direction: column;
  height: 100%;
  width: 100vw;

  // background: linear-gradient(rgb(7, 61, 92), rgb(4, 6, 2) 85%) ;
}
.logg-main {
  // width: 100%;
  // height: 70%;
  width: 100%;
  height: 70%;
}
.player {
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100vw;
  height: 90px;
  background-color: grey;
}
