// .top-nav{
//   justify-content: center;
//   background-color:inherit;
// }

.container {
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  // background: linear-gradient(rgb(7, 61, 92), rgb(4, 6, 2) 85%) ;
}
.logg-main {
  width: 100%;
  border: 1px solid red;
}
