// $spot-black: #101010;
// $spot-green: #1ed760;
// $spot-slate: #313138;
.main-page{
  display:flex;
  border: 1px solid black;
  height: inherit;
  width: 100%;
  justify-content: center;
}
.right-side{
  display: flex;
  flex-direction: column;
  background: transparent;
  width: 100%;
}
// linear-gradient($spot-slate, black);
