// Place all the styles related to the api/playlists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#playlists {
  // background: linear-gradient(#67352f, black);
  width: 100%;
  display: flex;
  width: 70%;
  margin: 0 auto;

  > div{
    width: 15%;
    margin-right: 1%;
    &:last-child {
      margin-right: 0;
    }
  }

  img{
    width: 100%;

  }
}
