.add-playlist-words{
  font-size: 68px;
  line-height: 82px;
  font-weight: 550;
  letter-spacing: -0.005em;
  color: rgb(255, 255, 255);
  text-transform: none;
  font-family: spotify-circular, "Helvetica Neue", Helvetica, Arial, "Hiragino Kaku Gothic Pro", Meiryo, "MS Gothic", sans-serif;
  text-align: center;
  padding: 23px;
}
.single-playlist {
  margin-bottom: 50px;
  margin-left: 10px;
  width: 217px;
  height: 217px;
}
.in-modal-adding-playlist-container{
  display:flex;
  flex-direction: column;

}
.playlist-modal-after-open{
  width:100%;
  height:100%;
}
.new-playlist-modal-cancel-button{
  width: 70px;
}

.adding-playlists-container{
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
  justify-content: center;
}


.outer-playlist{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.inner-playlists {
  background: transparent;
  display: grid;
  height: 100%;
  height: fixed;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 30px;
  overflow: scroll;

  @media (max-width: 1500px){
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
  }

  @media (max-width: 1200px){
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    .single-album{
      width: 217px;
      height: 217px;
    }
  }

  @media (max-width: 1090px){
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    .single-album{
      width: 217px;
      height: 217px;
    }
  }

  @media (max-width: 840px){
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
  }
  @media (max-width: 571px){
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: auto;
    .single-album{
      width: 217px;
      height: 217px;
    }
  }

  @media (min-width: 1300px){
    .all-albums{
      grid-template-columns: repeat(5, 1fr);
    }
  }
}


.img-hover-div-playlist {
    position: absolute;
    opacity: 0;
    bottom: calc(16% + 59px);
    right: calc(16% - 163px);
    width: 100px;
    height: 100px;
}

.img-hover-cont:hover .img-hover-div-playlist {
  // visibility: visible;
  opacity: 1;
  cursor: pointer;
}

.add-playlist-button {

  border-bottom: 1px solid white;
}
.playlists-adding-button{
  display: flex;
flex-direction: column;
/* justify-content: flex-start; */
background: grey;
padding: 3px;
border-radius: 5px;
}

.main-main-page{
  overflow:hidden;
}
