.play-button{
  height: 32px;
  width: 32px;
  margin: auto auto;
}
.pause-button{
  height: 32px;
  width: 32px;
  margin: auto auto;
}

.player-outer-container{
  display: flex;
  height: 100%;
  justify-content: center;

}

.player-inner-container {
  margin: auto auto;
  display: flex;
  width: 600px;
  height: 60px;
  border: 1px solid blue;
  justify-content: center;
}

.progressBar{
  width: 400px;
}
.playbar-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}
.play-pause{
  align-self: center;
  position: fixed;
}
.playbar{
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-left: 15px;

}
.title{
  font-size: 12px;
}
.alb-pics{
  height: 80px;
  width: 80px;
  margin-left: 10px;
}
