.player-outmost-container{
 display:flex;
 height: inherit;
 background: rgba(0,0,0,0.7);
}

.button-holder{
  width: 200px;
  height:35px;
  display: flex;
  justify-content: space-between;
  margin: 0 calc(50% - 85px);
  padding-bottom: 13px;
}

.button-bar-container {
  align-self: center;
}

.time-vol-bar-container{
  height: 22px;
}

.volume-container{
  display:flex;
}

.left-side-container{
  width: 200px;
  display: flex;
}

.right-side-container{
  display:flex;
  @media only screen and (min-width: 1000px){
    margin-left: calc(50% - 450px);
  }
  @media only screen and (max-width: 1000px){
    margin: auto auto;
  }
}

.prev-button{
  margin-top: 5px;
  height: 22px;
  width: 22px;
}

.next-button {
  margin-top: 5px;
  height: 22px;
  width: 22px;
}

.play-button{
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 11px solid grey;
  transition: color,0.6s;
  margin: auto 39%;
}
.play-button-container{
  display:flex;
  width: 32px;
  height: 32px;
  border:1px solid grey;
  border-radius: 50%;
  &:hover{
    width: 34px;
    height: 34px;
    .play-button{
      border-left: 11px solid white;
    }
    border: 1px solid white;
  }

}

.pause-button-container{
 border: 1px grey solid;
 width: 32px;
 height: 32px;
 border-radius: 50%;
 display:flex;
 &:hover{
   width: 34px;
   height: 34px;
   .pause-button{
     border-color: white;
   }
   border: 1px solid white;
 }
}
.pause-button{
  width: 22px;
  height: 16px;
  border-style: solid;
  border-width: 16px;
  border-color: #202020;
  border-style: double;
  border-width: 0px 11px 0px 11px;
  border-width: 0px 0px 0px 11px;
  border-color: grey;
  margin: auto calc(50% - 6px);
  // margin: auto calc(50%-22px);
}



.show-time{
  width: 40px;
}

.progressBar{
  width: 400px;
}

.player-song-time {
  height: 20px;
  display: flex;
  justify-content: space-between;
  width: 140px;
  margin-top: 45px;
  padding: 2px;
}

.play-pause{
  align-self: center;
  position: fixed;
}

.title{
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  margin: auto 0;
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.alb-pics{
  height: 85px;
  width: 85px;
  margin-left: 10px;
}
.volume-bar{
  width: 50px;
  margin-left: 5px;
  margin-bottom: 5px;
}
