.single-playlist {
  margin-bottom: 50px;
  margin-left: 10px;
  width: 217px;
  height: 217px;
}
.in-modal-adding-playlist-container{
  display:flex;
  flex-direction: column;

}
.new-playlist-modal-cancel-button{
  width: 70px;
}

.adding-playlists-container{
  display: flex;
  flex-wrap: wrap;
  overflow-x: scroll;
}


.outer-playlist{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  overflow: scroll;
}

.inner-playlists {
  background: transparent;
  display: grid;
  width: 97%;
  height: 100%;
  height: fixed;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;

  @media (min-width: 1500px){
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: auto;
    .single-album{
      width: 217px;
      height: 217px;
    }
  }
  @media (min-width: 1300px){
    .all-albums{
      grid-template-columns: repeat(5, 1fr);
      grid-auto-rows: auto;
    }
  }
  overflow: scroll;
  @media (min-width: 1150px){
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    .single-album{
      width: 217px;
      height: 217px;
    }

  }

  @media (max-width: 901px){
    grid-template-columns: repeat(3, 1fr);
    .single-album{
      width: 217px;
      height: 217px;
    }
  }
  @media (max-width: 765px){
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
  }
  @media (max-width: 571px){
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: auto;
  }
}
  @media (min-width: 571px){
    .single-album{
      width: 217px;
      height: 217px;
    }
    grid-auto-rows: auto;
  }


.img-hover-div-playlist {
    position: absolute;
    opacity: 0;
    bottom: calc(16% + 59px);
    right: calc(16% - 163px);
    width: 100px;
    height: 100px;
}

.img-hover-cont:hover .img-hover-div-playlist {
  // visibility: visible;
  opacity: 1;
  cursor: pointer;
}

.add-playlist-button {
  // background: grey;
  // padding: 7px 13px;
  // font-size: 14px;
  border-bottom: 1px solid white;
}
.playlists-adding-button{
  display: flex;
flex-direction: column;
/* justify-content: flex-start; */
background: grey;
padding: 3px;
border-radius: 5px;
}
