.player-outmost-container{
 display:flex;
 height: inherit;
 background: rgba(0,0,0,0.7);
}
.button-holder{
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 13px 0;
}
.button-bar-container {
  align-self: center;
}

.time-vol-bar-container{
  height: 22px;
}

.volume-container{
  display:flex;
}

.left-side-container{
  width: 200px;
  display: flex;
}
.right-side-container{
  display:flex;
  @media only screen and (min-width: 1000px){
    margin-left: calc(50% - 450px);
  }
  @media only screen and (max-width: 1000px){
    margin: auto auto;
  }
}

.prev-button{
  height: 30px;
  width: 30px;
}

.play-button{
  height: 32px;
  width: 32px;
  margin: auto auto;
}

.pause-button{
  height: 32px;
  width: 32px;
  margin: auto auto;
}

.next-button {
  height: 30px;
  width: 30px;
}

.show-time{
  width: 40px;
}

.progressBar{
  width: 400px;
}
.player-song-time {
  height: 20px;
  display: flex;
  justify-content: space-between;
  width: 140px;
  margin-top: 63px;
  padding: 2px;
}

.play-pause{
  align-self: center;
  position: fixed;
}

.title{
  font-size: 12px;
}
.alb-pics{
  height: 85px;
  width: 85px;
  margin-left: 10px;
}
.volume-bar{
  width: 50px;
  margin-left: 5px;
  margin-bottom: 5px;
}
