.search-bar-container{
  display:flex;
  flex-direction: column;
}
.album-song-button {
  display:flex;
  justify-content: center;
  button{
    padding: 10px;
    transition: color, 1.5s;
    &:hover{
      color: black;
      text-decoration: underline green;
    }
  }
}

.search-bar-form-input {
  height: 150px;
  padding: 20px 3px;
  width: 300px;
  font-size: 48px;
  line-height: 56px;
  color: white;
  text-transform: none;
  box-sizing: border-box;
  // background: rgba(0,0,0,0.5);
  width: 100%;
  &::placeholder {
    font-size: 50px;
  }
  background: rgba(40,40,40,1);
}
