// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.logo {
  font-size: 40px;
  text-align: center;
  border-bottom: 1px solid #d9dadc;
  padding: 4%;
}

.form-container {
  @media screen and (max-width: 767px){
    .logo {
      font-size: 20px;
    }
  }
  height: 100vh;
}

.input-container {
  margin-top: 10%;

}

.guest-signin-button {
  background-color: blue;
  color: white;
  border-radius: 500px;
  border: 1px solid blue;
  min-width: 160px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  padding: 11px 32px 9px;
  font-family: sans-serif;
  @media screen and (min-width: 767px) {
    align-self: center;
    width: 30%;
  }
  :hover{
    background-color: blue;
  }
}


.form {
  display: flex;
  margin: 20px auto;
  max-width: 450px;
  min-width: 180px;
  padding: 10px 10px;
  h1{
    align-self: center;
  }
  input {
    align-self: center;
  }
  input::placeholder{
    color: grey;
    font-size: 20px;
  }
  flex-direction: column;

}

.errors {
  text-align: center;
  font-family: sans-serif;
}

.login-signup-button {
  background-color: #1db954;
  color: white;
  border-radius: 500px;
  border: 1px solid #1db954;
  min-width: 160px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  padding: 11px 32px 9px;
  font-family: sans-serif;
  @media screen and (min-width: 767px) {
    align-self: center;
    width: 30%;
  }
}
.login-signup-button:hover{
  background-color: #1ed760;
}

.form-bot{

  border-radius: 500px;
  color: black;
  padding: 1px 10px 3px;
}


.username-password-input {
  border: 1px solid #d9dadc;
  height: 40px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 6px 12px;
  font-size: 16px;
  box-sizing: border-box;
}
