// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login-logo {
  font-size: 25px;
  font-weight: 500;
  font-family: sans-serif;
  text-align: center;
  border-bottom: 1px solid #d9dadc;
  padding: 10px 0 10px 0;
}
// .input-container {
//   display: flex;
//   align-items: center;
// }
// .username-input {
//   width: 426px;
//   border: 1px solid lightgray;
//   display: flex;
//   align-self: center;
// }

.top-error {
  margin: 0 auto;
  background-color: #FF9A00; //orange
  width: 420px;
  padding: 22px 15px;
  text-align: center;
  color: white;
}

.form-container {
  @media screen and (max-width: 767px){
    .logo {
      font-size: 20px;
    }
  }
  height: 100vh;
}

.input-container {
  margin-top: 10%;
}

.guest-signin-button {
  white-space:nowrap;
  background-color: blue;
  color: white;
  border-radius: 500px;
  border: 1px solid blue;
  min-width: 160px;
  font-size: .9375em;
  font-weight: 700;
  line-height: 1;
  padding: 11px 32px 9px;
  font-family: Circular,Helvetica,Arial,sans-serif;
  @media screen and (min-width: 767px) {
    align-self: center;
    width: 30%;
  }
  :hover{
    background-color: blue;
  }
}


.form {
  display: flex;
  margin: 20px auto;
  max-width: 450px;
  min-width: 180px;
  padding: 10px 10px;
  h1{
    align-self: center;
  }
  input {
    align-self: center;
  }
  input::placeholder{
    color: grey;
    font-size: .9375em;
    font-family: Circular,Helvetica,Arial,sans-seri;
  }
  flex-direction: column;

}

.errors {
  text-align: center;
  font-family: Circular,Helvetica,Arial,sans-serif;
}

.login-signup-button {
  background-color: #1db954;
  color: white;

  border-radius: 500px;
  border: 1px solid #1db954;
  min-width: 160px;
  font-size: .9375em;
  font-weight: 700;
  line-height: 1;
  padding: 11px 32px 9px;
  font-family: Circular,Helvetica,Arial,sans-serif;
  @media screen and (min-width: 767px) {
    align-self: center;
    width: 30%;
  }
}
.login-signup-button:hover{
  background-color: #1ed760;
}

.form-bot{

  border-radius: 500px;
  color: black;
  padding: 1px 10px 3px;
  a{
    color: blue;
  }
}
.date-input{
  align-content: center;
}

.month {
  border: 1px solid #d9dadc;
  padding: 6px 12px;
  background-color: white;
  width: 170px;
  line-height: 1;
  font-size: .9375em;
  font-family: Circular,Helvetica,Arial,sans-serif;
  border-radius: 2px;
  font-weight: 0;
  color: grey;
}
.dob{
  margin-top: 20px;
  color: grey;
}
.day-year {
  width: 100px;
  line-height: 1;
  border: 1px solid #d9dadc;
  border-radius: 2px;
  padding: 6px 12px;
  margin-left: 23px;
}

.form input{
  color: black;
}


.username-input {
  border: 1px solid #d9dadc;
  height: 40px;
  width: 100%;
  margin-top: 10px;
  padding: 6px 12px;
  font-size: .9375em;
  box-sizing: border-box;
  border-radius: 2px;
}
.username-password-input {
  border: 1px solid #d9dadc;
  height: 40px;
  width: 100%;
  margin-top: 10px;
  padding: 6px 12px;
  font-size: .9375em;
  box-sizing: border-box;
  border-radius: 2px;
}
.password-input {
  border: 1px solid #d9dadc;
  height: 40px;
  width: 100%;
  margin-top: 10px;
  padding: 6px 12px;
  font-size: .9375em;
  box-sizing: border-box;
  border-radius: 2px;
}
.date-input {
  display:flex;
}
