.side-nav-bar{
  height: 88%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 180px;
}
.search-bar{
  color: hsla(0,0%,100%,.6);
  font-weight: 750;
  transition: color, 1.5s;
  &:hover{
    color: white;
  }
  &:active{
    color: rgb(27, 186, 83);

  }

}

.search-bar_icon {
  display:flex;
  justify-content: space-between;
}

.top-bar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 172px;
  margin-top: 30px;
}
.spaces{
  width: 172px;
  height: 49px;
}
.lines {
  width: 172px;
  border-bottom: 1px solid rgb(159, 152, 147);
  margin-top: 15px;
}

.homepage{
  color: hsla(0,0%,100%,.6);
  font-weight: 750;
  transition: color, 1.5s;
  &:hover{
    color: white;
  }
  &:active{
    color: rgb(27, 186, 83);

  }

}
.logout{
  color: hsla(0,0%,100%,.6);
  font-weight: 750;
  transition: color, 1.5s;
  &:hover{
    color: white;
  }
  &:active{
    color: rgb(27, 186, 83);

  }

}


.side-nav-bar-container {
  width: 220px;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
}
.username-sidenav{
  text-align: center;
}
