$text-grey: #ababaf;
$spot-green: #1ed760;
.nav-bars {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  // width: 70%;
  min-width: 500px;
  margin: 0 auto;
  position: relative;
  box-shadow: 10px 5px 5px linear-gradient(rgb(7, 61, 92), rgb(4, 6, 2) 85%);
  .nav-links{
    padding: 0 40px;
    font-size: 0.8rem;
    letter-spacing: 1px;
    font-weight: 300;
    color: $text-grey;
    text-transform: uppercase;
    transition: color,0.6s;
    &:hover {
      color:white;
    }
  }
  button{
    background: $spot-green;
    font-size: 0.7rem;
    font-weight: light;
    text-transform: uppercase;
    width: 150px;
    height: 30px;
    border-radius: 17.5px;
    letter-spacing: 1px;
    position: absolute;
    right: 2em;
    &:hover{
      width: 155px;
      font-size: 0.73rem;
      background: lighten($spot-green, 5%);
    }
  }
    height: 30px;
    margin: 20px auto;
    padding: 10px;
    // border: 1px solid red;
}

.top-of-form{
  color: white;
  font-size: 50px;
  padding: 25px;
  font-weight: 700;
}
.form-modal-outer-container {
  height: 100vh;
  width: 100vw;
  display:flex;
}
.form-modal-inner-container {
  flex-direction: column;
  align-self: center;
  width: 100%;
  // height: 300px;
  display: flex;
  align-items: center;
}
.form-in-modal{
  // height: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.input-top {
  font-size: 20px;
  padding: 10px 5px;
}
.playlist-outer-container{
  display:flex;
  justify-content: center;
  flex-direction: column;
  background-color: darkslategrey;
  width: 100vw;
  height: 154px;
}
.form-sub-btn{
  background-color: green;
  width: 143px;
  border: 1px solid green;
  border-radius: 200px;
  padding: 7px;
  margin-left: 5%;
  font-size: 11px;
  font-family: sans-serif;
  font-weight: 100px;
  color: white;
  letter-spacing: 1px;
  text-transform: uppercase;
  height: 39px;
}
.cancel{
  font-family: sans-serif;
  border: 1px solid white;
  border-radius: 125px;
  width: 143px;
  height: 39px;
  font-weight: 100px;
  color: white;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.sub-btn-container{
  display: flex;
  // width: 50%;
  // align-self:center;
  // justify-content: center;
  // margin-top: 10px;
  padding: 28px 0;
}
.playlist-input-container{
  flex-direction: column;
  display:flex;
  width: 850px;
  align-self: center;
  padding: 7px;

}
.form-input {
  height: 200px;
  padding: 20px 3px;
  width: 300px;
  font-size: 48px;
  line-height: 56px;
  color: white;
  text-transform: none;
  box-sizing: border-box;
  width: 100%;
  &::placeholder {
    font-size: 50px;
  }
}
.playlist-modal{
  position: fixed;
  display:flex;
  justify-content: center;
  margin-bottom:60%;
  left: 0;
  right: 0;
  opacity: 1;
  background-color:black;
}
.x-sign{
  display:flex;
  flex-direction: column;
}
.pic-of-x{
  margin-top: -100%;
  // background-color: gray;
  opacity: 1;
  img{
    width: 50px;
  }
}
.outer-playlist-modal{
  position: fixed;
 top:0;
 bottom:0;
 left:0;
 right: 0;
 opacity: .95;
 background: rgba(0,0,0,2);
 display:flex;
 justify-content: center;
 align-items: center;
}
