.nav_bars {
  display: flex;
  flex-wrap: wrap;
  .nav-links{
    padding: 0 40px;
    font-size: 20px;
    font-weight: 300;
    color: grey;
    &:hover {
      color:blue;
    }
  }
    height: 30px;
    width: 500px;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid red;
}
