$text-grey: #ababaf;
$spot-green: #1ed760;
.nav-bars {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  // width: 70%;
  min-width: 500px;
  margin: 0 auto;
  position: relative;
  box-shadow: 10px 5px 5px linear-gradient(rgb(7, 61, 92), rgb(4, 6, 2) 85%);
  .nav-links{
    padding: 0 40px;
    font-size: 0.8rem;
    letter-spacing: 1px;
    font-weight: 300;
    color: $text-grey;
    text-transform: uppercase;
    transition: color,0.6s;
    &:hover {
      color:white;
    }
  }
  button{
    background: $spot-green;
    font-size: 0.7rem;
    font-weight: light;
    text-transform: uppercase;
    width: 150px;
    height: 30px;
    border-radius: 17.5px;
    letter-spacing: 1px;
    position: absolute;
    right: 2em;
    &:hover{
      width: 155px;
      font-size: 0.73rem;
      background: lighten($spot-green, 5%);
    }
  }
    height: 30px;
    margin: 20px auto;
    padding: 10px;
    // border: 1px solid red;
}

.top-of-form{
  color: white;
  font-size: 50px;
  font-weight: 700;
}
.form-modal-outer-container {
  height: 100vh;
  width: 100vw;
  display:flex;
}
.form-modal-inner-container {
  flex-direction: column;
  align-self: center;
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
}
.form-in-modal{
  background-color: darkslategrey;
  height: 157px;
  display: flex;
  align-items: center;
}
.input-top {
  font-size: 20px;
  padding: 0;
  margin: 0;
}
.form-sub-btn{
  background-color: green;
  width: 125px;
  border: 1px solid green;
  border-radius: 200px;
  padding: 7px;
  margin-left: 5%;
  font-size: 12px;
  font-family: sans-serif;
  font-weight: 100px;
  color: white;
  letter-spacing: 2px;
}
.cancel{
  background: white;
  border: 1px solid white;
  border-radius: 125px;
  width: 125px;
  color: black;
}
.sub-btn-container{
  display: flex;
  width: 50%;
  align-self:center;
  justify-content: center;
}
.playlist-input-container{
  flex-direction: column;
  margin-left: 5%;
  display:flex;
}
.form-input {
  font-size: 56px;
  width: 100vw;
  &::placeholder {
    font-size: 50px;
  }
}
.playlist-modal{
  // work on the opacity and transparency
  position: fixed;
  display:flex;
  margin-bottom:60%;
  left: 0;
  right: 0;
  opacity: 1;
  background-color:black;

  // background-color: grey;
}
.x-sign{
  display:flex;
  flex-direction: column;
}
.pic-of-x{
  margin-top: -100%;
  background-color: gray;
  opacity: 0.2;
}
.outer-playlist-modal{
  position: fixed;
 top:0;
 bottom:0;
 left:0;
 right: 0;
 opacity: 0.8;
 background: rgba(0,0,0,2);
}
